.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;

    /* Cria um grid */
    display: grid;
    /* Estabelece que o grid terá quatro colunas onde cada elemento ocupa 25% das colunas */
    grid-template-columns: repeat(4, 25%);
    /* Estabelece a altura das linhas do grid */
    grid-template-rows: 50px 48px 48px 48px 48px 48px;
}