:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 2em;
    cursor: pointer;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
}

.button:active {
    background-color: rgb(105, 105, 105);
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #fa8231;
    color: #fff;
}

.button.operation:active {
    background-color: #994914;
}

.button.buttonLogo:active {
    background-color: var(--bg-button);
}

.button.buttonLogo {
    background-image: url(../../public/logo192.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}